<!-- 
Copyright (c) 2016 NgeosOne LLC
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

   
 Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), 
 to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, 
 and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 
 THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 SOFTWARE.

Engineered using http://www.generatron.com/

[GENERATRON]
Generator :   System Templates
Filename:     image.form.html
Description:  Creates a form partial, assumes bootstrap is installed, create selects for foreign keys, still needs to implement one to many, checkboxes, images, file uploads
Project:      Fashn
Template: /yeoman-angular/forms/form.partial.vm
 -->
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="form-group">
                <label class="col-md-4 control-label" for="create"></label>
                <div class="col-md-8">
                    <button id="create" name="create" class="btn btn-success" ng-click="save()">Save</button>
                    <button ng-if="edit == true" id="delete" name="delete" class="btn btn-danger" ng-click="delete()">Delete</button>
                    <button id="cancel" name="cancel" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="panel-body">

            <fieldset>
                <!-- Form Name -->
                <legend>Image</legend>



                <!-- Text input for description Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="description">Description* </label>
                    <div class="controls">
                        <input id="description" name="description" type="text" placeholder="Description" ng-model="image.description" class="input-xlarge" required>
                        <div id="descriptionError" class="error"></div>
                    </div>
                </div>
                <!-- NO UI generated id Type: Long  ShowInForm:false-->
                <!-- Select Basic -->
                <div class="control-group">
                    <label class="control-label" for="imageCollection">ImageCollection</label>
                    <div class="controls">
                        <!-- .name is hardcoded change to what you need -->
                        <select ng-options="imageCollection.id as imageCollection.name for imageCollection in imageCollections " ng-model="image.imageCollection.id">
                            <option value="">--None--</option>
                        </select>
                        <div id="imageCollectionError" class="error"></div>
                    </div>
                </div>



                <!-- Text input for path Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="path">Path* </label>
                    <div class="controls">
                        <input id="path" name="path" type="text" placeholder="Path" ng-model="image.path" class="input-xlarge" required>
                        <div id="pathError" class="error"></div>
                    </div>
                </div>


                <!-- Text input for title Type: String  Native Type: String-->
                <div class="control-group">
                    <label class="control-label" for="title">Title* </label>
                    <div class="controls">
                        <input id="title" name="title" type="text" placeholder="Title" ng-model="image.title" class="input-xlarge" required>
                        <div id="titleError" class="error"></div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</form>

<!-- 
[STATS]
It would take a person typing  @ 100.0 cpm, 
approximately 24.38 minutes to type the 2438+ characters in this file.
 -->